.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 150px;
  height: 150px;
  font-size: 8rem;
}
#box1 {
  background-color: rgb(232, 56, 56);
}
#box2 {
  background-color: rgb(226, 232, 56);
}
#box3 {
  background-color: rgb(109, 232, 56);
}
#box4 {
  background-color: rgb(56, 106, 232);
}
